.style-list-wrapper {
  height: 100%;
  border: 1px solid;
  border-radius: 5px;

  .style-list-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      text-align: center;
    }

    .style-list-layout {
      width: 100%;
    }
  }

}
