<div class="container">
  <div class="form-builder">
    <ng-template [cdkPortalOutlet]="portal"></ng-template>
  </div>
</div>

<ng-container *cdkPortal>
  <div class="drag-group" cdkDropListGroup>
    <div class="fields-template-wrapper">
      <app-fields-list [defaultFields]="defaultFields | ngrxPush"></app-fields-list>
      <form [formGroup]="form" (ngSubmit)="saveForm()" *ngIf="fields.length">
        <div class="form-group">
          <label for="form-name">Form name</label>
          <input type="text" class="form-control" id="form-name" placeholder="Form name" formControlName="formName">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Save form</button>
      </form>
    </div>
    <app-form-edit-area></app-form-edit-area>
  </div>
  <div class="style-list">
    <app-styles-list></app-styles-list>
  </div>
</ng-container>

