.form-builder {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  height: 60vh;
  margin: 5rem auto;


  .drag-group {
    flex: 2;
    display: flex;
  }

  .style-list {
    flex: 1;
  }
}

.field-list {
  flex: 1;
}

.list-item {
  border: 1px solid;
  border-radius: 7px;
}

