.field-list {
  width: 300px;
  max-width: 100%;
  min-height: 50px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.field {
  width: 100%;
  padding: 14px 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  background: white;
  font-size: 14px;

  & .fa {
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 15px;
    opacity: 0;
  }

  &:hover .fa {
    opacity: 1;
  }

  .handle {
    cursor: move;
    position: relative;
    top: -.8rem;
    left: -5px;
  }

  .fa-trash {
    cursor: pointer;
    position: relative;
    top: -.8rem;
    right: 0;
  }

  &:hover {
    border: 1px solid #ccc !important;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.field:last-child {
  border: none;
}

.field-list.cdk-drop-list-dragging .field:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-placeholder {
  background: #b9fff7;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
