<div class="container">
  <form [formGroup]="stylesForm" (ngSubmit)="onSubmit()">
    <div *ngIf="!isCheckbox()">
      <mat-form-field class="field">
        <input type="text" matInput placeholder="Width" formControlName="width">
      </mat-form-field>
    </div>
    <div *ngIf="!isCheckbox()">
      <mat-form-field class="field">
        <input type="text" matInput placeholder="Height" formControlName="height">
      </mat-form-field>
    </div>
    <div *ngIf="!isCheckbox()">
      <mat-form-field class="field">
        <mat-select placeholder="Border style" formControlName="borderStyle">
          <mat-option *ngFor="let border of borderStyles | enumToArray" [value]="border">{{border}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="!isCheckbox()">
      <mat-form-field class="field">
        <input type="text" matInput placeholder="Font size" formControlName="fontSize">
      </mat-form-field>
    </div>
    <div *ngIf="!isCheckbox()">
      <mat-form-field class="field">
        <input type="number" matInput placeholder="Font weight" min="100" step="100" max="900"
               formControlName="fontWeight">
      </mat-form-field>
    </div>
    <div *ngIf="!isCheckbox()">
      <mat-form-field class="field">
        <input matInput [ngxMatColorPicker]="picker" formControlName="color">
        <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
        <ngx-mat-color-picker #picker></ngx-mat-color-picker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="field">
        <input matInput type="text" placeholder="Placeholder text" formControlName="placeholder">
      </mat-form-field>
    </div>
    <div>
      <mat-checkbox color="primary" formControlName="required">Required</mat-checkbox>
    </div>

    <div class="save-styles">
      <button mat-raised-button type="submit" color="primary" [disabled]="stylesForm.invalid">Save</button>
    </div>
  </form>
</div>
