<div class="container">
  <div class="form-wrapper">
    <div *ngIf="!(forms$ | ngrxPush).length else formsList">
      <h2>There are no forms yet.</h2>
    </div>
  </div>

  <div class="selected-form">
    <div *ngIf="!selectedForm else form">
      The form has not yet been selected.
    </div>
  </div>

</div>

<ng-template #formsList>
  <app-forms-list
    [forms]="forms$ | ngrxPush"
    (selectedForm)="selectForm($event)"
  >
  </app-forms-list>
</ng-template>

<ng-template #form>
  <div>
    <h2>
      <strong>Selected form</strong>: {{selectedForm.formName}}
    </h2>
    <app-selected-form [selectedForm]="selectedForm"></app-selected-form>
  </div>
</ng-template>
