.item {
  background-color: #3F51B5;
  color: white;
  margin: 1rem 0;
  border-radius: 3px;

  &:hover {
    box-shadow: 1px 1px 4px var(--border-color);
  }
}

.cdk-drop-list-dragging {
  cursor: move;
}
