<div class="wrapper">
  <div>
    <div>
      <h2>Basic Fields</h2>
      <span>Customize your form by drag and drop below fields to the form area.</span>
    </div>
    <div class="field-list">
      <mat-list
        cdkDropList
        [cdkDropListData]="defaultFields"
        [cdkDropListEnterPredicate]="noReturnPredicate"
        [cdkDropListSortPredicate]="noReturnPredicate"
        cdkDropListSortingDisabled
      >
        <mat-list-item
          class="item"
          *ngFor="let field of defaultFields; let i = index"
          cdkDrag
          [cdkDragData]="field"
          [id]="'field-' + field.id">
          <span>{{field.label}}</span>
          <i [ngClass]="field.icon"></i>
<!--          <div *cdkDragPreview></div>-->
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
