<div class="wrapper">
  <div>
    <div>
      <h2>Select Fields</h2>
      <span>Customize your form by drag and <br> drop below fields to the form area.</span>
    </div>
    <div cdkDropList
         [cdkDropListData]="defaultFields"
         [cdkDropListEnterPredicate]="noReturnPredicate"
         [cdkDropListSortPredicate]="noReturnPredicate"
         cdkDropListSortingDisabled
         class="field-list">
      <mat-selection-list [multiple]="false">
        <mat-list-item class="item" *ngFor="let field of defaultFields" cdkDrag [cdkDragData]="field" id="{{field.id}}">
          <i [ngClass]="field.icon"></i>
          <span>{{field.label}}</span>
          <div *cdkDragPreview><i [ngClass]="field.icon"></i></div>
        </mat-list-item>
      </mat-selection-list>
    </div>
  </div>

</div>

<!--<mat-selection-list #shoes [multiple]="false">-->
<!--  <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">-->
<!--    {{shoe}}-->
<!--  </mat-list-option>-->
<!--</mat-selection-list>-->
