<mat-toolbar color="primary">
  <span routerLink="/forms-builder" routerLinkActive="active">Forms Builder</span>
  <span *ngIf="isAuthenticated">&nbsp; / &nbsp;</span>
  <span routerLink="/user-forms" routerLinkActive="active" *ngIf="isAuthenticated">User forms</span>
  <span class="example-spacer"></span>
  <div class="btn-group" *ngIf="!isAuthenticated else authenticated">
    <button mat-icon-button routerLinkActive="active" routerLink="/fb/login">
      Log In
    </button>
    <button mat-icon-button routerLinkActive="active" routerLink="/fb/register">
      Sign Up
    </button>
  </div>
  <ng-template #authenticated>
    <div class="btn-group">
      <button mat-icon-button (click)="signOut.emit()">Sign Out</button>
    </div>
  </ng-template>
</mat-toolbar>
