.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .router-group {
    margin: 0 .5rem;
    padding: .5rem;
    font-size: 18px;
    border-radius: 4px;

    &:hover {
      background-color: var(--hover-color);
    }
  }
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0 2rem;
}

.btn-group {
  width: 150px;
  display: flex;
  align-items: center;

  .btn {
    border-radius: 3px;

    &:hover {
      background-color: var(--hover-color);
    }
  }
}

.active {
  background-color: var(--background-color);
  font-weight: 600;
}
