<mat-toolbar color="primary">
  <nav class="nav">
    <div *ngIf="!isAuthenticated" style="padding: .5rem">
      <span>Forms Builder</span>
    </div>
    <div class="d-flex" *ngIf="isAuthenticated">
      <div class="router-group" routerLink="/forms-builder" routerLinkActive="active">
        <span>Forms Builder</span>
      </div>
      <div class="router-group" routerLink="/user-forms" routerLinkActive="active">
        <span>User forms</span>
      </div>
    </div>
    <div class="btn-group" *ngIf="!isAuthenticated else authenticated">
      <button class="btn" mat-button routerLinkActive="active" routerLink="/login">
        Log In
      </button>
      <button class="btn" mat-button routerLinkActive="active" routerLink="/register">
        Sign Up
      </button>
    </div>
    <ng-template #authenticated>
      <div class="btn-group">
        <button mat-icon-button (click)="signOut.emit()">Sign Out</button>
      </div>
    </ng-template>
  </nav>
</mat-toolbar>
