@import "~font-awesome";
@import "variables";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mat-list-item {
  width: 70%;
  height: 3rem;
  font-size: $font-size + 2px;
  display: flex;
  align-items: center;

  .mat-ripple {
    display: none;
  }

  .mat-list-text {
    display: none;
  }

  .mat-list-item-content {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between
  }
}

