<app-header [isAuthenticated]="isAuthenticated$ | ngrxPush"></app-header>
<div class="container">
  <div class="form-builder">
    <ng-template [cdkPortalOutlet]="portal"></ng-template>
  </div>
</div>

<ng-container *cdkPortal>
  <div class="drag-group" cdkDropListGroup>
    <div class="fields-template-wrapper">
      <app-fields-list [defaultFields]="defaultFields$ | ngrxPush"></app-fields-list>
      <div class="save-btn" *ngrxLet="fields$ as fields">
        <div *ngrxLet="userId$ as userId">
          <button
            id="save-form-btn"
            mat-raised-button
            color="primary"
            [ngClass]="{'active': fields.length}"
            (click)="openSaveWindow(fields, userId)">
            Save
          </button>
        </div>
      </div>
    </div>
    <app-form-edit-area></app-form-edit-area>
  </div>
  <div
    class="style-list"
    *ngIf="selectedField$ | ngrxPush">
    <app-styles-list>
      <app-styles-list-layout
        (activeStyles)="changeStyle($event)"
        [selectedField]="selectedField$ | ngrxPush"
        [index]="selectedFieldIndex$ | ngrxPush"
      ></app-styles-list-layout>
    </app-styles-list>
  </div>
</ng-container>

