<div class="field-list">
  <div class="field"
       *ngFor="let field of formFieldList; let i = index"
       [cdkDragData]="field"
       [ngSwitch]="field.type"
       cdkDrag
  >
    <div class="example-box">
      <div class="drag-placeholder" *cdkDragPlaceholder></div>
      <div *ngSwitchCase="'text'">
        <label>Text</label>
        <input type="text" (click)="selectField(i)" class="form-control" [ngStyle]="field.availableStyles"
               [required]="field.availableStyles.required" [placeholder]="field.availableStyles.placeholder || 'Text'">
      </div>
      <div *ngSwitchCase="'textarea'">
        <label>Textarea</label>
        <textarea (click)="selectField(i)" class="form-control" [ngStyle]="field.availableStyles"
                  [required]="field.availableStyles.required"
                  [placeholder]="field.availableStyles.placeholder">
      </textarea>
      </div>
      <div *ngSwitchCase="'button'">
        <button (click)="selectField(i)" type="button" class="btn btn-primary form-control"
                [ngStyle]="field.availableStyles">
          {{field.availableStyles.placeholder || 'Button'}}
        </button>
      </div>
      <div *ngSwitchCase="'checkbox'">
        <input (click)="selectField(i)" class="form-check-input" type="checkbox">
        <label class="form-check-label">
          {{field.label || 'Test label'}}
        </label>
      </div>
      <div class="col-10" *ngSwitchCase="'select'">
        <label>Select list:</label>
        <select (click)="selectField(i)" class="form-control" [ngStyle]="field.availableStyles">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>
  </div>
</div>
