<div class="field"
     *ngFor="let field of formFieldList"
     [cdkDragData]="field"
     cdkDrag
     [ngSwitch]="field.type"
     (click)="selectField(field)"
>
  <mat-form-field class="field" appearance="fill" *ngSwitchCase="'text'">
    <mat-label>Clearable input</mat-label>
    <input matInput type="text">
  </mat-form-field>
  <mat-form-field class="field" *ngSwitchCase="'textarea'">
    <textarea matInput></textarea>
  </mat-form-field>
  <button mat-raised-button class="field" *ngSwitchCase="'button'">Basic</button>
  <mat-checkbox class="field" color="primary" *ngSwitchCase="'checkbox'">Checked</mat-checkbox>
  <mat-form-field appearance="fill" class="field" *ngSwitchCase="'select'">
    <mat-label>Cars</mat-label>
    <mat-select  required>
      <mat-option value="volvo">Volvo</mat-option>
      <mat-option value="saab">Saab</mat-option>
      <mat-option value="mercedes">Mercedes</mat-option>
      <mat-option value="audi">Audi</mat-option>
    </mat-select>
  </mat-form-field>
</div>
